/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap');
:root {
  /* Primary */
  --Soft-red: hsl(7, 99%, 70%);
  --Yellow: hsl(51, 100%, 49%);
  --Dark-desaturated-cyan: hsl(167, 40%, 24%);
  --Dark-blue: hsl(198, 62%, 26%);
  --Dark-moderate-cyan: hsl(168, 34%, 41%);

  /* Neutral */
  --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --Very-dark-grayish-blue: hsl(213, 9%, 39%);
  --Dark-grayish-blue: hsl(232, 10%, 55%);
  --Grayish-blue: hsl(210, 4%, 67%);
  --White: hsl(0, 0%, 100%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 18px;
}

.banner {
  background-image: url(./images/desktop/image-header.jpg);
  min-height: 100vh;
  background-position: center bottom;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
}

.logo {
  width: 11%;
}

.menu {
  display: flex;
  color: var(--White);
  align-items: center;
}

.menu span {
  margin-right: 30px;
  cursor: pointer;
  filter: opacity(94%);
}

.contact {
  color: var(--Very-dark-desaturated-blue);
  background-color: var(--White);
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  text-transform: uppercase;
  transition: ease-in-out 200ms;
}

.contact:hover {
  color: var(--White);
  background-color: hsl(195 100% 62%);
}

.main {
  text-transform: uppercase;
  color: var(--White);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  flex-grow: 1;
  font-family: 'Fraunces', sans-serif;
  font-weight: 900;
  letter-spacing: 0.8rem;
  margin-bottom: 70px;
}

.main-h1 {
  margin-bottom: 80px;
}

.arrow-down {
  margin-bottom: 100px;
}

/* ///////////////////////////////////////////////// */
/* Section 1 */

.section1 {
  display: flex;
}

.section1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.left1 {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left1 h1 {
  font-size: 48px;
  font-family: 'Fraunces', sans-serif;
  font-weight: 900;
  color: var(--Very-dark-desaturated-blue);
}

.left1 p {
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
  color: var(--Dark-grayish-blue);
  font-size: 16px;
  line-height: 1.6rem;
  margin: 30px 0 30px 0;
  padding-right: 90px;
}

.left1 h4 {
  /* position: relative; */
  width: 24.6%;
  cursor: pointer;
  background-color: var(--Yellow);
}

.left1 h4:hover {
  background-color: hsl(37, 100%, 49%);
}
/* .left1 h4::after {
  position: absolute;
  content: '';
  border-bottom: 5px solid var(--Yellow);
  border-radius: 30px;
  width: 100%;
  transform: translateX(-50%);
  bottom: 0;
  left: 50%;
} */

.text-container1 {
  width: 60%;
}

.right1 {
  flex: 1;
}

/* Section 2 */
/* ///////////////////////////////////////////////// */

.section2 {
  display: flex;
}

.section2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.left2 {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right2 {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-container2 {
  width: 70%;
}

.right2 h1 {
  font-size: 48px;
  font-family: 'Fraunces', sans-serif;
  font-weight: 900;
  color: var(--Very-dark-desaturated-blue);
}

.right2 p {
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
  color: var(--Dark-grayish-blue);
  font-size: 16px;
  line-height: 1.6rem;
  margin: 30px 0 30px 0;
  padding-right: 180px;
}

.right2 h4 {
  /* position: relative; */
  width: 21.4%;
  cursor: pointer;
  background-color: var(--Soft-red);
}

.right2 h4:hover {
  background-color: hsl(0, 94%, 65%);
}

/* Section 3 */
/* ///////////////////////////////////////////////// */

.section3 {
  display: flex;
}

.left3,
.right3 {
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.text-container3-left,
.text-container3-right {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-top: 26rem;
  text-align: center;
  padding: 30px;
}

.right3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.left3 h1 {
  font-size: 30px;
  font-family: 'Fraunces', sans-serif;
  font-weight: 900;
  color: var(--Dark-desaturated-cyan);
  margin-bottom: 20px;
}

.left3 p {
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
  color: var(--Dark-grayish-blue);
  font-size: 1rem;
  line-height: 1.6rem;
}

.right3 h1 {
  font-size: 30px;
  font-family: 'Fraunces', sans-serif;
  font-weight: 900;
  color: var(--Dark-desaturated-cyan);
  margin-bottom: 20px;
}

.right3 p {
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
  color: var(--Dark-grayish-blue);
  font-size: 1rem;
  line-height: 1.6rem;
}

/* Clients Testimonials*/
/* ////////////////////////////////////////////////// */

.clients-testimonials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.clients-testimonials h1 {
  color: var(--Grayish-blue);
  font-family: 'Fraunces', sans-serif;
  text-transform: uppercase;
  font-size: 1.6rem;
  letter-spacing: 0.6rem;
  margin-bottom: 8rem;
}

.clients {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50%;
}

.client {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: space-around;
  padding: 0 7rem;
}

.client img {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.client p {
  text-align: center;
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
  line-height: 1.6em;
  color: var(--Very-dark-desaturated-blue);
}

.about-client {
  text-align: center;
}

.about-client h2 {
  font-family: 'Fraunces', sans-serif;
  font-weight: 900;
  font-size: 1.4rem;
}

.about-client h4 {
  font-family: 'Barlow', sans-serif;
  font-weight: 600;
  font-size: 1rem;
  margin-top: 1rem;
  color: var(--Grayish-blue);
}

/* Pictures Row */
/* ////////////  ///////////  ///////////  ///////////  */

.pictures {
  display: flex;
}

.example-container {
  flex: 0.25;
}

.pictures img {
  width: 100%;
}
